<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KKNUAJYApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KKNUAJYApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        html, body {
            scroll-behavior: smooth;
        }
        /* Add this to your existing styles */
        .navbar-nav .nav-item {
            margin-right: 3rem; /* Increase this value for more space */
        }

        /* If you prefer using padding instead of margin */
        .navbar-nav .nav-link {
            padding-left: 2rem !important;
            padding-right: 2rem !important;
        }

        /* Adjust the last item to remove extra space on the right if needed */
        .navbar-nav .nav-item:last-child {
            margin-right: 0;
        }
        .floating-nav {
            padding-left: 120px;
            padding-right: 120px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1030;
            background-color: rgba(64, 64, 64, 0.5); /* Transparent dark gray */
            transition: background-color 0.3s ease, opacity 0.3s ease;
        }

        .footer-content-title {
            font-family: Outfit;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            color: #F4AC1C;
        }

        footer {
            width: 100vw;
            margin-left: calc(50% - 50vw);
        }

        .content-section {
            background-color: white;
            text-align: center;
        }
        /* Update text color for better visibility */
        .floating-nav .navbar-nav .nav-link,
        .floating-nav .navbar-brand {
            color: white !important;
        }
        /* Update the scrolled state if needed */
        .floating-nav.scrolled {
            background-color: rgba(64, 64, 64, 0.5); /* Darker when scrolled */
        }

        body {
            padding-top: 56px; /* Adjust based on your navbar height */
        }

        main {
            flex: 1; /* Mengambil sisa ruang yang tersedia */
        }
        ul {
            display: flex;
            align-items: center;
            margin-right: 42px;
        }

        li {
            margin-top: 50dp;
        }
        li a {
            font-size:18px;
            font-weight:600;
        }
            

        .separator {
            margin-left: 200px;
            margin-right: 200px;
            border: none; /* Menghapus border default */
            height: 1px; /* Ketebalan garis */
            background-color: white; /* Warna garis */
        }

        .copyright {
            text-align: right;
            background-color: rgba(0, 0, 0, 0.2);
            margin-right: 200px;
            padding-top: 10px;
            padding-bottom: 50px; /* Mengurangi padding-bottom */
            font-size: 14px;
        }c

    .navbar-nav .custom-nav-link, .footer-menu {
        transition: color 0.3s ease !important;
        text-decoration: none;
    }

    .navbar-nav .custom-nav-link:hover, .footer-menu:hover {
        color: #F4AC1C !important; /* Change this to your desired hover color */
    }
        /* Tambahan CSS untuk memastikan modal benar-benar di tengah */
        .modal-dialog {
            display: flex;
            align-items: center;
            min-height: calc(80% - 1rem);
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3 floating-nav">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/img/asjy_logo.png" alt="Alternate Text" />
                    <span style="color: #0A5896;">KKN </span>
                    <span style="color: #F4AC1C;">UAJY</span>

                    </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" style="height: 60px;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#faq-section" class="nav-link custom-nav-link">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" asp-area="" asp-controller="Home" asp-action="Informasi">Informasi Pelaksanaan</a>
                        </li>
                        <!-- Other nav items -->
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <div class="container my-5">
        <footer class="text-white" style="background: var(--Primary-Primary1200, #052C4A);">
            <div class="container p-4 pb-0">
                <section>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="footer-content-title mb-4">Quick Links</h6>
                            <p><a class="text-white footer-menu">Home</a></p>
                            <p><a class="text-white footer-menu">Website UAJY</a></p>
                            <p><a class="text-white footer-menu">Website UAJY</a></p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                            <h6 class="footer-content-title mb-4 font-weight-bold">After Movie KKN UAJY</h6>
                            <p><a class="text-white footer-menu">KKN Periode 83</a></p>
                            <p><a class="text-white footer-menu">KKN Periode 84</a></p>
                            <p><a class="text-white footer-menu">KKN Periode 84</a></p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-4 mx-auto mt-3">
                            <h6 class="footer-content-title mb-4 font-weight-bold">Contact</h6>
                            <p><i class="fas fa-home mr-3" style="color: #F4AC1C;"></i> Jl. Babarsari No.44, Janti, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281</p>
                            <p><i class="fas fa-phone mr-3" style="color: #F4AC1C;"></i> (0274) 487711</p>
                            <p><i class="fas fa-print mr-3" style="color: #F4AC1C;"></i> &#64;kknitumudah</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="separator"></div>

            <div class="copyright" id="copyright">
                Copyright  © 2024. All rights reserved
            </div>
        </footer>
    </div>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $('a[href^="#"]').on('click', function (event) {
                var target = $(this.getAttribute('href'));
                var isHomepage = window.location.pathname === '/' || window.location.pathname === '/Home/Index';

                if (isHomepage && target.length) {
                    event.preventDefault();
                    $('html, body').stop().animate({
                        scrollTop: target.offset().top
                    }, 1000); // Adjust the duration as needed
                } else if (!isHomepage) {
                    window.location.href = '/' + $(this).attr('href');
                }
            });
        });
    </script>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script>
        $(function () {

            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            $('.swalDefaultSuccess').click(function () {
                Toast.fire({
                    icon: 'success',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.swalDefaultInfo').click(function () {
                Toast.fire({
                    icon: 'info',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.swalDefaultError').click(function () {
                Toast.fire({
                    icon: 'error',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.swalDefaultWarning').click(function () {
                Toast.fire({
                    icon: 'warning',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.swalDefaultQuestion').click(function () {
                Toast.fire({
                    icon: 'question',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });

            $('.toastrDefaultSuccess').click(function () {
                toastr.options.positionClass = 'toast-bottom-right';

                toastr.success('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.');

            });
            $('.toastrDefaultInfo').click(function () {
                toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });
            $('.toastrDefaultError').click(function () {
                toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });
            $('.toastrDefaultWarning').click(function () {
                toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });

            $('.toastsDefaultDefault').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultTopLeft').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'topLeft',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultBottomRight').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'bottomRight',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultBottomLeft').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'bottomLeft',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultAutohide').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    autohide: true,
                    delay: 750,
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultNotFixed').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    fixed: false,
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultFull').click(function () {
                $(document).Toasts('create', {
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    icon: 'fas fa-envelope fa-lg',
                })
            });
            $('.toastsDefaultFullImage').click(function () {
                $(document).Toasts('create', {
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    image: '../../dist/img/user3-128x128.jpg',
                    imageAlt: 'User Picture',
                })
            });
            $('.toastsDefaultSuccess').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultInfo').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-info',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultWarning').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-warning',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultDanger').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultMaroon').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-maroon',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('a[href^="#"]').on('click', function (event) {
                var target = $(this.getAttribute('href'));
                var isHomepage = window.location.pathname === '/' || window.location.pathname === '/Home/Index';

                if (isHomepage && target.length) {
                    event.preventDefault();
                    $('html, body').stop().animate({
                        scrollTop: target.offset().top
                    }, 1000); // Durasi bisa disesuaikan sesuai kebutuhan
                } else if (!isHomepage) {
                    window.location.href = '/' + $(this).attr('href');
                }
            });
        });
    </script>

</body>
</html>
