@* @model KKNUAJYApp.Models.Joke
 *@
<header>
    <style>
        body {
            background-color: #082f34;
        }

        .nav {
            border-color: blue !important;
        }

        .nav-link.active {
            border-color: blue blue white !important;
        }

        .nav-link {
            color: #082f34 !important;
            font-weight: 700;
        }

            .nav-link:hover {
                border-color: blue !important;
            }


        p, li {
            font-size: 18px;
        }

        th {
            color: black;
        }

        .box__dragndrop,
        .box__uploading,
        .box__success,
        .box__error {
            display: none;
        }

        .dragdrop {
            padding:30px;
            background-color: #f8f9fa;
            border-radius: 20px;
            box-shadow: rgba(149, 157, 165, 0,2) 0px 8px 24px;
        }
        .drag-area {
            height: 200px;
            border: 3px dashed #e0eafc;
            display: flex;
            align-items: center;    
            justify-content: center;
            flex-direction: column;
            margin: 10px auto;
        }
        .drag-area .icon {
            font-size: 50px;
            color: dimgray;
        }

        .drag-area .header {
            font-size: 16px;
            font-weight: 500;
            color: #34495e;

        }
        .drag-area .support {
            font-size: 12px;
            color: gray;
            margin: 10px 0 15px 0;

        }
        .drag-area.active {
            border: 2px solid #1683ff;
        }
    </style>
</header>

<section class="content-header">
        <div class="row mb-2 px-5">
            <div class="col-sm-6">
            <h1 style="font-weight:bold; color: #f4ac1c">DATA BLANKO KELOMPOK XX</h1>
            <h4 style="font-weight:400">KELOMPOK / TANDA TANGAN BLANKO</h4>
            </div>
            <div class="col-sm-6">
                @* <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Projects</li>
                </ol> *@
            </div>

        </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="mx-5 py-5 px-5">
        <div class="mx-2 mb-5 custom-div">

            <h6 style="font-weight: bold">Guidelines</h6>
            <ul>
                <li>
                    Silahkan mengunduh dokumen blanko untuk diberikan tanda tangan digital.
                </li>
                <li>
                    Dokumen yang telah diberi tanda tangan mohon diunggah kembali.
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-12 ">
                <div class="bg-white rounded p-2">

                    <div class="row">
                        <div class="col-12">
                                

                            <div class="col-12">
                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="10px">No</th>
                                            <th>Blanko</th>
                                            <th>Upload</th>
                                            <th>Status</th>
                                            <th>Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            
                                            <tr>
                                                <td>@i. </td>
                                                <td>Blanko 01</td>
                                                <td >
                                                    <button type="button" class="btn btn-primary btn-sm" style="background-color: #0A5896;" data-toggle="modal" data-target="#modal-lg">
                                                        <a style="color:white"> Upload File </a>
                                                    </button>
                                                    <input type="file" id="fileInput" style="display: none;" />
                                                </td>
                                                <td width="200px" id="status-@i"><span class="alert alert-success py-2 mx-5" style="background-color: #ffc107; border:none; border-radius:50px;">Menunggu</span></td> <!-- Tambahkan ID unik pada setiap kolom status -->
                                                <td>
                                                    <button type="button" class="btn btn-primary btn-sm" style="background-color: #0A5896;" data-toggle="modal" data-target="#modal-success">Download</button>
                                                </td>


                                            </tr>
                                        }
                                            
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /modal for download -->
<div class="modal fade" id="modal-success">
    <div class="modal-dialog">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <button type="button" class="close top-0 end-0" style="border: none; background-color:transparent" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <i class="fas fa-check-circle text-success fa-2x mb-3"></i>
                <h6 class="text-success mb-3 text-success" style="font-weight:bold">SUCCESS</h6>
                <p>Your file is being downloaded.</p>
            </div>
        </div>
    </div>
</div>



<!-- /modal for upload -->
<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header py-2 px-4">
                <h2 style="font-weight:600; color: #f4ac1c">UPLOAD DATA BLANKO</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="card card-default">
                <!-- /.card-header -->
                <div class="card-body p-4">

                    <!-- /.row -->
                    <!-- ROW3 -->
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            @* <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile02" name="file2">
                                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Upload your file here</label>
                                </div>
                            </div> *@

                            <div class="mb-3 dragdrop">
                                <div class="drag-area">
                                    <div class="icon">
                                        <i class="fas fa-upload"></i>
                                    </div>

                                    <span class="header">Drag & Drop files here to upload.</span>
                                    <span class="support">Only PDF files are allowed.</span>

                                </div>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="file" id="formFile" placeholder="Drop files here to upload">
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- /.row -->  
                    <div class="modal-footer justify-content-end py-2">
                        <button class="btn btn-primary btn-sm custom-btn px-4" data-dismiss="modal" id="submitUploadButton">
                            <a style="color:white"> Submit </a>

                        </button>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    var clickedRowIndex; // Variabel untuk menyimpan indeks baris yang diklik

    // Event listener untuk semua tombol Upload
    document.querySelectorAll('button[data-target="#modal-lg"]').forEach((button, index) => {
        button.addEventListener('click', function () {
            clickedRowIndex = index + 1; // Simpan indeks baris yang diklik (dimulai dari 1)
        });
    });

    // Event listener untuk tombol Submit di modal
    document.getElementById('submitUploadButton').addEventListener('click', function () {
        if (clickedRowIndex !== undefined) {
            // Temukan elemen status berdasarkan indeks baris yang disimpan
            var statusElement = document.getElementById('status-' + clickedRowIndex);
            statusElement.innerHTML = '<span class="alert alert-success py-2 mx-5" style="border:none; background-color: #198754; border-radius:50px;">Uploaded</span>';
        }
    });
</script>

<script>
    const dragArea = document.querySelector('.drag-area');
    const dragText = document.querySelector('.header');

    //saat file di dalam drag area
    dragArea.addEventListener('dragover', (event) => { 
        event.preventDefault();
        dragText.textContet = 'Release to Upload';
        dragArea.classList.add('active');
    })

    //saat file di meninggalkan drag area
    dragArea.addEventListener('dragleave', () => {
        dragText.textContet = 'Drag & Drop';
        dragArea.classList.remove('active')
    })

    //saat file di dalam drag area
    dragArea.addEventListener('drop', (event) => {
        event.preventDefault();
    })

</script>