
<style>

    .nav {
        border-color: blue !important;
    }

    .nav-link.active {
        border-color: blue blue white !important;
    }

    .nav-link {
        color: #082f34 !important;
        font-weight: 700;
    }

        .nav-link:hover {
            border-color: blue !important;
        }

    .card-title {
        display: flex;
        align-items: center;
    }

        .card-title h3 {
            flex-shrink: 0; /* Pastikan <h3> tidak menyusut */
            margin-right: 10px; /* Opsional, untuk memberi jarak antara <h3> dan garis merah */
            color: #0A5896;
            font-size: 24px;
            font-weight: bold;
        }

    .yellowline,
    .spacer {
        width: 100%;
        height: 2px;
        display: inline;
        border: 2px solid #F4AC1C
        /* background-color: red; */
    }

    p, li {
        font-size: 18px;
    }

</style>

<section class="py-8 bg-white">
    <div class="container-fluid px-0">
        <div class="px-0 ps-md-12 bg-primary overflow-hidden rounded">
            <div class="row no-gutters">
                <div class="col-12 col-md-12 d-flex align-items-center justify-content-center" style="padding-top: 40px; padding-bottom: 40px; background-color: #335da4">
                    <h3 class="h1 mb-2 text-white text-center" style="font-weight: 500;">
                        <span style="color: #F4AC1C;">PAPAN PENGUMUMAN </span>
                        <span style="color: white;">KKN UAJY 2023/2024</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5 px-5 bg-white">
        <div class="row">
            <div class="col-12  px-5 ">
                <div class="row flex-column">

                    <div class="card-title my-4 ">
                        <h3 class="mb-0">JADWAL PEMBEKALAN KKN PERIODE 23/24</h3>
                        <span class="yellowline"></span>
                    </div>

                    <div class="col d-flex justify-content-center">
                        <img src="/img/papan_pengumuman.png" alt="Informasi KKN">
                    </div>

                </div>
            </div>
        </div>
    </div>

    
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        // Menampilkan toast otomatis saat halaman di-load
        toastr.success('Selamat datang di halaman ini!');
    });
</script>