            @{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>

    <style>
        section {
            background: white;
        }

        .nav-link {
            color: #082f34 !important;
            font-weight: 700;
        }

            .nav-link:hover {
                border-color: blue !important;
            }


        p, li {
            font-size: 18px;
        }

        th {
            color: blue;
        }

        tbody {
            padding: 0;
            margin: 0;
        }


        .btn-primary {
            background-color: ##0A5896;
            border-color: #0A5896;
            border-radius: 8px;
        }

        .custom-div {
            padding: 16px;
            width: 100%;
            margin: 24px;
            color: #0C6BB7;
            gap: var(--kendo-spacing-0);
            border: 0px 0px 0px 4px;
            text-align: start;
            background: rgba(189, 224, 251, 0.5);
            border-left: 4px solid var(--Primary-Primary200, #BDE0FB);
        }

            .custom-div h1 {
                font-size: 64px;
            }

        th {
            color: black;
        }

    </style>

</header>

<!-- Main content -->
<section class="content" id="contentSection">
    <div class="row mb-2 px-5 pt-4">
        <div class="col-sm-6">
            <h1 style="font-weight:bold; color: #f4ac1c">List Data Kelompok</h1>
            <h4 style="font-weight:400">HOME/KELOMPOK</h4>
        </div>
    </div>

    <div class="py-5 px-5">
        <div class="filter-container px-3">
            <div class="filter-item">
                <select>
                    <option>Periode</option>
                </select>
            </div>
            <div class="icon-container">
                <span class="icon filter">&#9660;</span>
                <span class="icon clear">&#10005;</span>
            </div>
            <div class="filter-item ml-4">
                <select>
                    <option>Semester</option>
                </select>
            </div>
            <div class="icon-container">
                <span class="icon filter">&#9660;</span>
                <span class="icon clear">&#10005;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <div class="">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-striped pb-5">
                            <thead>
                                <tr>
                                    <th style="width: 10px">No</th>
                                    <th>Periode</th>
                                    <th>Kelompok</th>
                                    <th>Unit</th>
                                    <th>Kabupaten</th>
                                    <th>Desa</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 1; i <= 30; i++)
                                {
                                    <tr>
                                        <td>@i.</td>
                                        <td>85</td>
                                        <td>1</td>
                                        <td>Unit</td>
                                        <td>Gunung Kidul</td>
                                        <td>Desa</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="py-0 btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu" role="menu">
                                                    <a class="dropdown-item d-flex justify-content-start" asp-area="" asp-controller="Home" asp-action="DataAnggota">
                                                        <img class="nav-icon mr-2" src="~/img/data_kel_ic.png" alt="Icon" style="width: 24px; height: 24px;">
                                                        <p>Anggota</p>
                                                    </a>
                                                    <a class="dropdown-item d-flex justify-content-start" asp-area="" asp-controller="Home" asp-action="BlankoKelompok">
                                                        <img class="nav-icon mr-2" src="~/img/tugas_ic.png" alt="Icon" style="width: 24px; height: 24px;">
                                                        <p>TTD Blanko</p>
                                                    </a>
                                                    <a class="dropdown-item d-flex justify-content-start" asp-area="" asp-controller="Home" asp-action="TugasKelompokContent">
                                                        <img class="nav-icon mr-2" src="~/img/tugas_ic.png" alt="Icon" style="width: 24px; height: 24px;">
                                                        <p>Tugas Kelompok</p>
                                                    </a>
                                                    <a class="dropdown-item d-flex justify-content-start" asp-area="" asp-controller="Home" asp-action="PenilaianKelompok">
                                                        <img class="nav-icon mr-2" src="~/img/na_ic.png" alt="Icon" style="width: 24px; height: 24px;">
                                                        <p>Kelola NA1</p>
                                                    </a>
                                                    <a class="dropdown-item d-flex justify-content-start" asp-area="" asp-controller="Home" asp-action="FormNA">
                                                        <img class="nav-icon mr-2" src="~/img/na_ic.png" alt="Icon" style="width: 24px; height: 24px;">
                                                        <p>Kelola NA2</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                            @* <tfoot>
                            <tr>
                            <th style="width: 10px">No</th>
                            <th>Periode</th>
                            <th>Kelompok</th>
                            <th>Unit</th>
                            <th>Kabupaten</th>
                            <th>Desa</th>
                            <th>Action</th>
                            </tr>
                            </tfoot> *@
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>


    <!-- /.content -->
    <div class="modal fade" id="modal-sm">
        <div class=modal-dialog modal-dialog-centered modal-m">
            <div class="modal-content">
                <div class="modal-header py-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body py-0">
                    <p>Form Penilaian hanya dapat diisi sekali. Apakah anda yakin ingin mengirimkan data penilaian tersebut?</p>
                </div>
                <div class="modal-footer justify-content-end py-2">
                    <button type="button" class="btn btn-primary btn-sm toastrDefaultSuccess" id="confirmButton">Confirm</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>
