@* @model KKNUAJYApp.Models.Joke
 *@
 <header>
     <style>
        body {
            background-color: #082f34;
        }

        .nav {
            border-color: blue !important;
        }
            
        .nav-link.active {
            border-color: blue blue white !important;
        }

        .nav-link {
            color: #082f34 !important;
            font-weight: 700;
        }

            .nav-link:hover {
                border-color: blue !important;
            }

        .card-title {
            display: flex;
            align-items: center;
        }

            .card-title h3 {
                flex-shrink: 0; /* Pastikan <h3> tidak menyusut */
                margin-right: 10px; /* Opsional, untuk memberi jarak antara <h3> dan garis merah */
                color: #0A5896;
                font-size: 24px;
                font-weight: bold;
            }

        .yellowline,
        .spacer {
            width: 100%;
            height: 3px;
            display: inline;
            border: 3px solid #F4AC1C
            /* background-color: red; */
        }

        p, li {
            font-size: 18px;
        }
        th {
            color:black;
        }


        .btn-primary {
            background-color: ##0A5896;
            border-color: #0A5896;
            border-radius: 8px;
        }

        /* select {
            padding: 8px;
            border: none;
            background-color: white;
            font-size: 14px;
            width: 200px;
        }

        .icon-container {
            display: flex;
            border-left: 1px solid #ccc;
        }

        .icon {
            padding: 8px;
            cursor: pointer;
            font-size: 12px;
        }

            .icon.filter {
                border-right: 1px solid #ccc;
            }

            .icon:hover {
                background-color: #f0f0f0;
            } */

        .formNA {
            border: 2px solid whitesmoke; /* Warna dan ketebalan border */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Efek bayangan */
            padding: 16px; /* Padding di dalam div, opsional */
            background-color: #ffffff; /* Warna latar belakang div, opsional */
        }
        }
    </style>
 </header>

<section class="content-header">
    <div class="row mb-2 px-5">
        <div class="col-sm-6">
            <h1 style="font-weight:bold; color: #f4ac1c">DAFTAR KENDARAAN SEMASA KKN</h1>
            <h4 style="font-weight:400">HOME/ DATA KENDARAAN KELOMPOK</h4>
        </div>
        <div class="col-sm-6">
            @* <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Projects</li>
            </ol> *@
            @* <button type="button" class="float-sm-right btn btn-primary" data-toggle="modal" data-target="#modal-lg">Upload File</button> *@
            <button class="btn btn-primary float-sm-right px-5" style="background-color: #0A5896;" data-toggle="modal" data-target="#modal-lg">
                <a style="color:white" @* asp-area="" asp-controller="Home" asp-action="FormPendaftaran" *@> Edit Nilai </a>
            </button>
            <input type="file" id="fileInput" style="display: none;" />
        </div>
    </div>
</section>
<section class="py-8">
    
    <div class="py-5 px-5">
        
        <div class="row">
            <div class="col-12 ">
                <div class="bg-white rounded p-2">
                    
                    <div class="row mx-4">
                        <div class="col-12 formNA ">
                            <div class="card-header">
                                @* <h3 class="card-title">Simple Full Width Table</h3> *@
                                <h2 style="color:#0a5896">Form Penilaian Kelompok</h2>

                                @* <div class="card-tools">
                                <ul class="pagination pagination-sm float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                </ul>
                                </div> *@
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nama</th>
                                            <th>NPM</th>
                                            <th>Penilaian Kerja 1-100</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 1; i <= 10; i++)
                                        {
                                            <tr>
                                                <td>John Michael Smith</td>
                                                <td>200756789</td>
                                                <td>
                                                    <div class="">
                                                        <input style="border-color: black; height: 75%;" type="number" class="form-control" placeholder="Berikan nilai 1-100!" min="1" max="100" step="1">
                                                    </div>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>

                                </table>

                                <div>
                                    <button style="margin-right: 18px; margin-bottom: 18px;" type="button" class="float-sm-right custom-btn px-4" data-toggle="modal" data-target="#modal-sm">
                                        Upload
                                    </button>
                                </div>


                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                            <!-- /.row -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Tab Panel Nav --> 
</section>

<!-- /.content -->
<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header px-4">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="card card-default">
                <!-- /.card-header -->
                <div class="card-body px-4">

                    <p>
                        Apakah anda yakin ingin mengirimkan data
                        penilaian tersebut?
                    </p>
                    <!-- /.row -->
                    <div class="modal-footer justify-content-end">
                        <button type="button"  class="custom-btn px-2" id="">
                            <a style="color:white" data-dismiss="modal"> Confirm </a>

                        </button>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>