
    <style>
    body {
        background-color: #082f34;
    }


    .nav-link.active {
        /* border-color: blue blue white !important; */
        border-radius: 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .nav-link {
        color: #082f34 !important;
        font-weight: 700;
        width: 300px;
    }

        .nav-link:hover {
            border-color: white !important;
            background-color: white;
            border-radius: 8px;
        }


    .card-title {
        display: flex;
        align-items: center;
    }

        .card-title h3 {
            flex-shrink: 0; /* Pastikan <h3> tidak menyusut */
            margin-right: 10px; /* Opsional, untuk memberi jarak antara <h3> dan garis merah */
            color: #0A5896;
            font-size: 24px;
            font-weight: bold;
        }

    .yellowline,
    .spacer {
        width: 100%;
        height: 3px;
        display: inline;
        border: 3px solid #F4AC1C
        /* background-color: red; */
    }

    p, li {
        font-size: 18px;
    }

</style>

<section class="py-8 bg-white">
    <div class="container-fluid px-0">
        <div class="px-0 ps-md-12 bg-primary overflow-hidden rounded">
            <div class="row no-gutters">
                <div class="col-12 col-md-12 d-flex align-items-center justify-content-center" style="padding-top: 40px; padding-bottom: 40px; background-color: #335da4">
                    <h3 class="h1 mb-2 text-white text-center" style="font-weight: 500;">
                        <span style="color: #F4AC1C;">PENDAFTARAN PESERTA </span>
                        <span style="color: white;">KKN UAJY 2023/2024</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5 px-5 ">
        <div class="row">
            <div class="col-12 ">
                <div class="rounded" style="background-color: white;">
                    <ul class="nav nav-tabs justify-content-center py-2" style="background-color: #e5e5e5;   border-radius: 8px; margin-left: 460px; margin-right: 460px">
                        <li class="nav-item mx-2">
                            <a class="nav-link active text-center" data-bs-toggle="tab" href="#kkn_jawa">KKN JAWA</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-center" data-bs-toggle="tab" href="#kkn_non_jawa">KKN NON-JAWA</a>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content p-4 bg-white">
                                <div id="kkn_jawa" class="tab-pane fade show active">
                                    <div class="row flex-column">
                                        <div class="card-title">
                                            <h3 class="mb-0">PENDAFTARAN  KKN JAWA</h3>
                                            <span class="yellowline"></span>
                                        </div>
                                        <p class="card-text mb-auto">
                                            Pendaftaran KKN pada daerah Jawa akan dilakukan pada tanggal dd - MM - YYYY hingga dd - MM - YYYY. Mahasiswa diharapkan mengisi data diri yang sesuai pada formulir yang tersedia.  Adapun syarat yang perlu dipenuhi oleh mahasiswa ialah: <br />
                                            <ul>
                                                <li>Menyelesaikan minimum Satuan Kredit Semester (SKS) sesuai dengan syarat masing-masing Fakultas.</li>
                                                <li>Melakukan pembayaran biaya pelaksanaan KKN sebesar Rp. 1.700.000,- ke Bank : CIMB Niaga / BRI / Mandiri atau BPD DIY (Asli)(Mekanisme pembayaran seperti membayar SPP tetap / variabel)</li>
                                                <li>Menampilkan bukti pengambilan kelas KKN pada semester ini (SBPK)</li>
                                                <li>Menampilkan screenshot Daftar Hasil Studi (DHS) pada SIATMA (Dengan ketentuan profile terlihat)</li>
                                            </ul>
                                        </p>
                                        
                                    </div>
                                    <button class="btn btn-primary float-sm-right" style="background-color: #0A5896;">
                                        <a style="color:white" asp-area="" asp-controller="Home" asp-action="FormPendaftaran"> Daftar </a>
                                    </button>
                                    
                                </div>
                                <div id="kkn_non_jawa" class="tab-pane fade ">
                                    <div class="row flex-column">
                                        <div class="card-title">
                                            <h3 class="mb-0">PENDAFTARAN  KKN NON-JAWA</h3>
                                            <span class="yellowline"></span>
                                        </div>
                                        <p class="card-text mb-auto">
                                            Pendaftaran KKN pada daerah Non-Jawa akan dilakukan pada tanggal dd - MM - YYYY hingga dd - MM - YYYY. Mahasiswa diharapkan mengisi data diri yang sesuai pada formulir yang tersedia.  Adapun syarat yang perlu dipenuhi oleh mahasiswa ialah: <br />
                                            </p>
                                        <ul>
                                            <li>Menyelesaikan minimum Satuan Kredit Semester (SKS) sesuai dengan syarat masing-masing Fakultas.</li>
                                            <li>MelakukanMelakukan pembayaran biaya pelaksanaan KKN sebesar Rp. 2.000.000,- ke Bank : CIMB Niaga / BRI / Mandiri atau BPD DIY (Asli)(Mekanisme pembayaran seperti membayar SPP tetap / variabel)</li>
                                            <li>Menampilkan bukti pengambilan kelas KKN pada semester ini (SBPK)</li>
                                            <li>Menampilkan screenshot Daftar Hasil Studi (DHS) pada SIATMA (Dengan ketentuan profile terlihat)</li>
                                        </ul>
                                            <br />
                                            <p>
                                            Setelah menginputkan data, peserta diharapkan untuk mengikuti tahap seleksi melalui wawancara pada jadwal yang telah ditentukan
                                        </p>

                                    </div>
                                    <button class="btn btn-primary float-sm-right" style="background-color: #0A5896;">
                                        <a style="color:white" asp-area="" asp-controller="Home" asp-action="FormPendaftaran"> Daftar </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Tab Panel Nav --> 
</section>
